name: Dump
 
on:
  push:
    paths-ignore:
      - '*.md'
    branches: [ main ]

defaults:
  run:
    shell: bash

env:
  ROM_URL: https://bigota.d.miui.com/V13.0.4.0.RGEINXM/miui_FOGINGlobal_V13.0.4.0.RGEINXM_d9a3183d3c_11.0.zip

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkouts
         uses: actions/checkout@v2

       - name: Clone Dumpyara
         run: |
              git clone https://github.com/DroidDumps/phoenix_firmware_dumper
       - name: Setup Dumpyara environment
         working-directory: phoenix_firmware_dumper
         run: |
              sudo bash setup.sh
              git config --global user.name "atharvnegi"
              git config --global user.email "atharvnegi2951@gmail.com"
       - name: Setup config envs
         working-directory: phoenix_firmware_dumper
         run: |
              echo "${{ secrets.GIT_TOKEN }}" > .github_token
              echo "${{ secrets.GIT_ORG_NAME }}" > .github_orgname
              echo "${{ secrets.BOT_TOKEN }}" > .tg_token
              echo "${{ secrets.CHAT_ID }}" > .tg_chat
       - name: Running Dumpyara
         working-directory: phoenix_firmware_dumper
         run: |
              ./dumper.sh $ROM_URL
